body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

button{
    width: 80px;
    height: 30px;
}

#husky{
    width: 400px;
    height: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rosybrown;
    font-size: 24px;
    color: whitesmoke;
}

.big-header{
    display: flex;
    flex-direction: row;
    background-color:#1F2937 ;
    color: whitesmoke;
    justify-content: space-around;
}

.left-header{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.right-header{
    display: flex;
}

.infoboxes{
    display: flex;
    flex-direction: column;
    background-color: red;
}

.infobox-header{
    display: flex;
    justify-content: center;
}

.boxes{
    display: flex;
    background-color: green;
    border: aqua;
    border-width: 5px;
    justify-content: space-around;
}

.box{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-style: solid;
    border-color: aqua;
    border-width: 5px;
}

.quotebox{
    display: flex;
    flex: 1;
    background-color: bisque;
}

.actionbox{
    display: flex;
    flex: 1;
    background-color: lightcyan;
}

.footer{
    display: flex;
    background-color: gray;
    color: wheat;
}